<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/checkbox.css">
</head>
<body>
     <section>
        <div class="create">
            <input class="input" type="text" placeholder="Новая задача">
            <button class="button">Добавить</button>
        </div>

        <div class="todo">
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="container"> 
                        <h4>Закончить книгу</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="todo_item_footer">
                    <p>01.02.2021 <span>15:20</span></p>
                    <div class="action_buttons">
                        <img src="./icons/new.png" >
                        <img src="./icons/backet.png" >
                    </div>
                </div>
            </div>

            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="container"> 
                        <h4>Закончить проект</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="todo_item_footer">
                    <p>25.02.2021 <span>17:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/marked.png" >
                        <img src="./icons/backet.png" >
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="container"> 
                        <h4>Купить новые книги</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="todo_item_footer">
                    <p>10.01.2021 <span>08:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/new.png" >
                        <img src="./icons/backet.png" >
                    </div>
                </div>
            </div>

            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="container"> 
                        <h4>Получить купон</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="todo_item_footer">
                    <p>26.02.2021 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/marked.png" >
                        <img src="./icons/backet.png" >
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="container"> 
                        <h4>Выучить новые темы</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="todo_item_footer">
                    <p>18.02.2021 <span>00:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/new.png" >
                        <img src="./icons/backet.png" >
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="container"> 
                        <h4>Посмотреть видео</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="todo_item_footer">
                    <p>08.01.2021 <span>09:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/new.png" >
                        <img src="./icons/backet.png" >
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="container"> 
                        <h4>Позвонить в МФЦ</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="todo_item_footer">
                    <p>05.01.2021 <span>09:00</span></p>
                    <div class="action_buttons">
                        <img src="./icons/new.png" >
                        <img src="./icons/backet.png" >
                    </div>
                </div>
            </div>

        </div>
     </section>
</body>
</html>